<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.HakerTon.model.mapper.CafeMapper">


	<!-- best3 선택 <select id="selectCafe" resultMap="cafeList"> select ci.name 
		as name, ci.url as url, ci.img_name as imgName from cafe_info ci, cafe_attr 
		ca where ci.cafe_code = ca.cafe_code and ca.attr={best1} and rownum between 
		1 and 3 order by ca.quantity desc; </select> best3 선택 -->

	<select id="selectCafe" parameterType="InputVO"
		resultType="CafeVO">
		select ci.name cafeName, ci.url url, ci.img_name imgPath
		from cafe_info ci
		
	</select>

</mapper>
 
 
 
 
 